h1 {
    text-align: center;
    color: darkcyan;
}

.button {
    background-color: darkcyan;
    border: 2px solid cyan;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}