[MASTER]

ignore=
    migrations
django-settings-module = crevette.settings
load-plugins = pylint_django

[FORMAT]

max-line-length = 119

[MESSAGES CONTROL]

disable=
    C0415,  # import-outside-toplevel
    C0114   # missing-module-docstring