{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shrimps/style.css' %}">


<h1>The shrimp aquarium</h1>

<p> There are {{ nb_shrimps }} shrimps in the aquarium </p>

<a id="button-create-random" class="button" href="{% url 'shrimps:give-birth' %}"> Create a random shrimp </a>

<ul>
    {% for shrimp in all_shrimps %}
        <li><a href="{% url 'shrimps:detail' shrimp.id %}">{{shrimp.name}}</a></li>
    {% empty %}
        <li>There is no shrimps in the aquarium</li>
    {% endfor %}
</ul>
